SoundCloud.API.Client/obj/
SoundCloud.API.Client.Test/obj/*
SoundCloud.API.Client.Test/bin/*
SoundCloud.API.Client/bin/*
SoundCloud.API.Client/obj/*
/packages
/SoundCloud.API.Client.Web/obj
/SoundCloud.API.Client.Web/bin
/*.nupkg
/*.user
/*.suo
/SoundCloud.API.Client.Web/*.user
/SoundCloud.API.Client/NuGet.exe
/.vs/config
